* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Poppins", sans-serif;
}

body {
	min-height: 100vh;
	width: 100vw;
	background-color: #000;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
}

.btn {
	font-size: 2rem;
	padding: 1rem 2.5rem;
	margin: 1rem;
	cursor: pointer;
	background-color: #16e0bd;
	border: none;
	outline: none;
	position: relative;
}

/* Button 1 */

.btn.btn-border-pop::before {
	--border-size: 5px;

	content: "";
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: #000;
	border: var(--border-size) solid #16e0bd;
	z-index: -1;
	transition: top, right, bottom, left, 0.2s ease-in-out;
}

.btn.btn-border-pop:hover::before,
.btn.btn-border-pop:focus::before {
	top: calc(var(--border-size) * -2);
	right: calc(var(--border-size) * -2);
	bottom: calc(var(--border-size) * -2);
	left: calc(var(--border-size) * -2);
}

/* Button 2 */

.btn.btn-background-slide::before {
	content: "";
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: #fff;
	z-index: -1;
	transform: scaleX(0);
	transform-origin: left;
	transition: transform 350ms ease-in-out;
}

.btn.btn-background-slide:hover::before,
.btn.btn-background-slide:focus::before {
	transform: scaleX(1);
}

.btn.btn-background-slide {
	z-index: 1;
	transition: color 350ms ease-in-out;
}

.btn.btn-background-slide:hover,
.btn.btn-background-slide:focus {
	color: #00967d;
}

/* Button 3 */

.btn.btn-background-circle::before {
	content: "";
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: #16e0bd;
	z-index: -1;
	border-radius: 50%;
	transform: scale(1.5);
	transition: transform 400ms ease-in-out;
}

.btn.btn-background-circle:hover::before,
.btn.btn-background-circle:focus::before {
	transform: scale(0);
}

.btn.btn-background-circle {
	background-color: #fff;
	z-index: 1;
	overflow: hidden;
	transition: color 400ms ease-in-out;
}

.btn.btn-background-circle:hover,
.btn.btn-background-circle:focus {
	color: #00967d;
}

/* Button 4 */

.btn.btn-border-underline::before {
	content: "";
	position: absolute;
	right: 0;
	bottom: 0;
	left: 0;
	height: 7px;
	background-color: #fff;
	transform: scaleX(0);
	transition: transform 250ms ease-in-out;
}

.btn.btn-border-underline:hover::before,
.btn.btn-border-underline:focus::before {
	transform: scaleX(1);
}
