* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Poppins", sans-serif;
}

body {
	min-height: 100vh;
	width: 100vw;
	background-color: #000;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
}

.btn {
	font-size: 2rem;
	padding: 1rem 2.5rem;
	margin: 1rem;
	cursor: pointer;
	background-color: #16e0bd;
	border: none;
	outline: none;
	position: relative;
}

/* Button 1 */

.btn.btn-border-pop::before {
	--border-size: 5px;

	content: "";
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: #000;
	border: var(--border-size) solid #16e0bd;
	z-index: -1;
	transition: top, right, bottom, left, 0.2s ease-in-out;
}

.btn.btn-border-pop:hover::before,
.btn.btn-border-pop:focus::before {
	top: calc(var(--border-size) * -2);
	right: calc(var(--border-size) * -2);
	bottom: calc(var(--border-size) * -2);
	left: calc(var(--border-size) * -2);
}

/* Button 2 */

/* Button 3 */

/* Button 4 */
